    * {
        box-sizing: border-box;
    }

    body, html {
        margin: 0;
        height: 100%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        background-color: black;
    }

    .headerparallax {
        background-image: url('headerparallax.gif');
        position: relative;
        height: 100%;        
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: rgb(1000, 500, 500);
    }

    .logo {
        padding: 7px 7px 7px 7px;
        margin: 0;
        text-align: center;
        font-size: 25px;
    }

    .footer{
        display: block;
        color: white;
        font-size: 10px;
        text-align: center;
    }

    @media screen and (max-width:1000px){
        .logo{
            font-size: 10px;
            width: 100%;
            left: 0;
            top: 75%;
        }
        .grid-container{
            grid-auto-flow: column;
        }
        .navbar a{
            font-size: 13px;
            float: none;
        }
        span{
            font-size: 15px;
        }
    }